Cоздайте объект Series, связав его с переменной school , и наполните данными, которые бы отражали количество учащихся в разных классах (1а, 1б, 2б, 6а, 7в и т. п.).

Внесите изменения в объект Series согласно следующему:

в одном из классов изменилось количество учащихся,
в школе появился новый класс,
в школе был расформирован (удален) другой класс.
Вычислите общее количество учащихся в школе.

In [1]:
import pandas as pd
import numpy as np

In [2]:
school = {'1а':19, '1б':18, '2б':21,'6а':16, '7в':15, '11':6}
school_ser = pd.Series(school)
school_ser.index.name = 'classes'
print(school_ser)

classes
1а    19
1б    18
2б    21
6а    16
7в    15
11     6
dtype: int64

In [3]:
school_ser['2б'] += 3
print(school_ser)

classes
1а    19
1б    18
2б    24
6а    16
7в    15
11     6
dtype: int64

In [4]:
school_ser = school_ser.append(pd.Series({'8а':17}))
print(school_ser)

1а    19
1б    18
2б    24
6а    16
7в    15
11     6
8а    17
dtype: int64

In [5]:
del school_ser['11']
print(school_ser)

1а    19
1б    18
2б    24
6а    16
7в    15
8а    17
dtype: int64

In [6]:
print(school_ser.sum())

109